@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Roboto', sans-serif; 
	background: #353535;
}



/* TABLET LIGGENDE HERUNDER */ 


@media screen and (max-width: 1366px) and (min-width: 1024px) {
	
	nav {
		width: 100%;
		height: 160px;
		background: #353535;
	}
	
	nav .logo {
		width: 55%;
	}
	
	nav .logo img {
		width: 90%;
		padding-left: 20px;
		padding-top: 35px;
	}
	
	nav .navigation {
		width: 45%;
	}
	
	nav .logout {
		width: 100%;
	}
	
	
	nav .logout .logout_btn {
		float: right;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		background-color: #E4E4E4;
		border: 1px solid #95989A;
		margin-top: 27px;
		margin-right: 47px;
		font-size: 1.1em;
		font-weight: bold;
		outline: none;
	}
	
	.container {
		width: 100%;
		height: 120px;
		background-color: #5F5F5F;
		text-align: center;
	}
	
	.container .back img {
		width: 3.5%;
		float: left;
		padding: 30px 30px 15px 20px;
	}
	
	.container .back h2 {
		font-size: 2em;
		color: #E4E4E4;
		padding-top: 48px;
	}
	
	.header {
		width: 100%;
		height: 85px;
		background-color: #E4E4E4;
	}
	
	.header .icon {
		width: 7%;
	}
	
	.header img {
		width: 80%;
		padding-top: 25px;
		padding-left: 20px;
	}
	
	.header h2 {
		font-weight: bold;
		color: #353535;
		font-size: 1.5em;
		padding-left: 20px;
		padding-top: 34px;
	}
	
	.success {
		height: auto;
		background-color: #E4E4E4;
		padding-bottom: 40px;
		text-align: center;
	}
	
	.tableheaders {
		width: 100%;
	}
	
	.tableheaders tr {
		background-color: #CACACA;
		color: #353535;
		border: none;
		font-weight: bold;
	}
	
	.tableheaders th {
		text-align: left;
		padding-bottom: 15px;
		padding-top: 15px;
		font-size: 1.4em;
	}
	
	.tableheaders .tablehead1 {
		text-align: center;
		width: 33%;
	}
	
	.tableheaders .tablehead2 {
		text-align: center;
		width: 33%;
	}
	
	.tableheaders .tablehead3 {
		text-align: center;
		width: 33%;
	}
	
	.items {
		table-layout: fixed;
		margin-top: 15px;
		text-align: left;
	}
	
	.items tr {
		border-bottom: 1px solid #9D9D9D;
	}
	
	.items .price p {
		font-size: 1.4em;
		color: #353535;
		padding-left: 65px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.items .name p {
		font-size: 1.4em;
		color: #353535;
		padding-left: 90px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.items .quantity p{
		font-size: 1.4em;
		color: #353535;
		padding-left: 130px;
		ppadding-top: 10px;
		padding-bottom: 10px;
		
	}
	
	.sum {
		padding-top: 40px;
	}
	
	.sum p {
		font-size: 2em;
	}
	
	.shop_btn {
		background-color: #019390;
		color: white;
		padding: 25px 30px;
		border: none;
		border-radius: 5px; 
		font-size: 1.5em;
		margin-top: 40px;
	}
	
	
	
	
	
	/* HVIS MAN IKKE ER LOGGET IND */
	
	.fail {
		padding-top: 110px;
		text-align: center;
	}
	
	.fail img {
		width: 80%;
	}
	
	.fail h1 {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 50px;
		font-size: 1.8em;
		color: #E4E4E4;
		
	}
	
	.login_btn {
		padding-top: 40px;
		text-align: center;
	}
	
	.login_btn button {
		background-color: #019390;
		width: 72%;
		height: 70px;
		border: none;
		border-radius: 5px;
		outline: none;
		color: #fafafa;
		font-size: 1.5em;
	}
	
	


}






/* TABLET HERUNDER */ 


@media screen and (max-width: 1023px) and (min-width: 737px) {

	nav {
		width: 100%;
		height: 160px;
		background: #353535;
	}
	
	nav .logo {
		width: 55%;
	}
	
	nav .logo img {
		width: 100%;
		padding-left: 20px;
		padding-top: 40px;
	}
	
	nav .navigation {
		width: 45%;
	}
	
	nav .logout {
		width: 100%;
	}
	
	
	nav .logout .logout_btn {
		float: right;
		height: 97px;
		width: 97px;
		border-radius: 50%;
		background-color: #E4E4E4;
		border: 1px solid #95989A;
		margin-top: 30px;
		margin-right: 26px;
		font-size: 1.1em;
		font-weight: bold;
		outline: none;
	}
	
	.container {
		width: 100%;
		height: 120px;
		background-color: #5F5F5F;
		text-align: center;
	}
	
	.container .back img {
		width: 5%;
		float: left;
		padding: 30px 30px 15px 20px;
	}
	
	.container .back h2 {
		font-size: 1.8em;
		color: #E4E4E4;
		padding-top: 45px;
	}
	
	.header {
		width: 100%;
		height: 85px;
		background-color: #E4E4E4;
	}
	
	.header .icon {
		width: 10%;
	}
	
	.header img {
		width: 70%;
		padding-top: 22px;
		padding-left: 20px;
	}
	
	.header h2 {
		font-weight: bold;
		color: #353535;
		font-size: 1.5em;
		padding-left: 20px;
		padding-top: 32px;
	}
	
	.success {
		height: auto;
		background-color: #E4E4E4;
		padding-bottom: 40px;
		text-align: center;
	}
	
	.tableheaders {
		width: 100%;
	}
	
	.tableheaders tr {
		background-color: #CACACA;
		color: #353535;
		border: none;
		font-weight: bold;
	}
	
	.tableheaders th {
		text-align: left;
		padding-bottom: 15px;
		padding-top: 15px;
		font-size: 1.4em;
	}
	
	.tableheaders .tablehead1 {
		text-align: center;
		width: 33%;
	}
	
	.tableheaders .tablehead2 {
		text-align: center;
		width: 33%;
	}
	
	.tableheaders .tablehead3 {
		text-align: center;
		width: 33%;
	}
	
	.items {
		table-layout: fixed;
		margin-top: 15px;
		text-align: left;
	}
	
	.items tr {
		border-bottom: 1px solid #9D9D9D;
	}
	
	.items .price p {
		font-size: 1.2em;
		color: #353535;
		padding-left: 45px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.items .name p {
		font-size: 1.2em;
		color: #353535;
		padding-left: 60px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.items .quantity p{
		font-size: 1.2em;
		color: #353535;
		padding-left: 95px;
		ppadding-top: 10px;
		padding-bottom: 10px;
		
	}
	
	.sum {
		padding-top: 40px;
	}
	
	.sum p {
		font-size: 2em;
	}
	
	.shop_btn {
		background-color: #019390;
		color: white;
		padding: 25px 30px;
		border: none;
		border-radius: 5px; 
		font-size: 1.5em;
		margin-top: 40px;
	}
	
	
	
	
	
	
	/* HVIS MAN IKKE ER LOGGET IND */
	
	.fail {
		padding-top: 200px;
		text-align: center;
	}
	
	.fail img {
		width: 80%;
	}
	
	.fail h1 {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 50px;
		font-size: 1.4em;
		color: #E4E4E4;
		
	}
	
	.login_btn {
		padding-top: 40px;
		text-align: center;
	}
	
	.login_btn button {
		background-color: #019390;
		width: 73%;
		height: 70px;
		border: none;
		border-radius: 5px;
		outline: none;
		color: #fafafa;
		font-size: 1.5em;
	}

}





/* SMARTPHONE LIGGENDE HERUNDE */


@media screen and (max-width: 736px) and (min-width: 416px) {
	
	nav {
		width: 100%;
		height: 100px;
		background: #353535;
	}
	
	nav .logo {
		width: 55%;
	}
	
	nav .logo img {
		width: 85%;
		padding-left: 15px;
		padding-top: 20px;
	}
	
	nav .navigation {
		width: 45%;
	}
	
	nav .logout {
		width: 100%;
	}
	
	
	nav .logout .logout_btn {
		float: right;
		height: 67px;
		width: 67px;
		border-radius: 50%;
		background-color: #E4E4E4;
		border: 1px solid #95989A;
		margin-top: 16px;
		margin-right: 36px;
		font-size: 0.7em;
		font-weight: bold;
		outline: none;
	}
	
	.container {
		width: 100%;
		height: 90px;
		background-color: #5F5F5F;
		text-align: center;
	}
	
	.container .back img {
		width: 4%;
		float: left;
		padding: 20px 30px 15px 15px;
	}
	
	.container .back h2 {
		font-size: 1.4em;
		color: #E4E4E4;
		padding-top: 35px;
	}
	
	
	.header {
		width: 100%;
		height: 65px;
		background-color: #E4E4E4;
		display: inline;
	}
	
	.header .icon {
		width: 10%;
	}

	
	.header h2 {
		font-weight: bold;
		color: #353535;
		font-size: 1.1em;
		padding-top: 27px;
		padding-left: 15px;
	}
	
	.success {
		height: auto;
		background-color: #E4E4E4;
		padding-bottom: 40px;
		text-align: center;
	}
	
	.tableheaders {
		width: 100%;
	}
	
	.tableheaders tr {
		background-color: #CACACA;
		color: #353535;
		border: none;
		font-weight: bold;
	}
	
	.tableheaders th {
		text-align: left;
		padding-bottom: 15px;
		padding-top: 15px;
		font-size: 1.1em;
	}
	
	.tableheaders .tablehead1 {
		text-align: center;
		width: 33%;
	}
	
	.tableheaders .tablehead2 {
		text-align: center;
		width: 33%;
	}
	
	.tableheaders .tablehead3 {
		text-align: center;
		width: 33%;
	}
	
	.items {
		table-layout: fixed;
		margin-top: 15px;
		text-align: left;
	}
	
	.items tr {
		border-bottom: 1px solid #9D9D9D;
	}
	
	.items .price p {
		font-size: 0.95em;
		color: #353535;
		padding-left: 45px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.items .name p {
		font-size: 0.95em;
		color: #353535;
		padding-left: 60px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.items .quantity p{
		font-size: 0.95em;
		color: #353535;
		padding-left: 85px;
		ppadding-top: 10px;
		padding-bottom: 10px;
		
	}
	
	.sum {
		padding-top: 30px;
	}
	
	.sum p {
		font-size: 1.4em;
	}
	
	.shop_btn {
		background-color: #019390;
		color: white;
		padding: 15px 20px;
		border: none;
		border-radius: 5px; 
		font-size: 1.3em;
		margin-top: 20px;
	}
	
	
	
	
	
	
	/* HVIS MAN IKKE ER LOGGET IND */
	
	.fail {
		padding-top: 40px;
		text-align: center;
	}
	
	.fail img {
		width: 65%;
	}
	
	.fail h1 {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 50px;
		font-size: 1.1em;
		color: #E4E4E4;
		
	}
	
	.login_btn {
		padding-top: 40px;
		text-align: center;
	}
	
	.login_btn button {
		background-color: #019390;
		width: 77%;
		height: 60px;
		border: none;
		border-radius: 5px;
		outline: none;
		color: #fafafa;
		font-size: 1.2em;
	}
	
	

}




/* SMARTPHONE HERUNDER */



@media screen and (max-width: 415px) and (min-width: 320px) {
	
	nav {
		width: 100%;
		height: 100px;
		background: #353535;
	}
	
	nav .logo {
		width: 55%;
	}
	
	nav .logo img {
		width: 90%;
		padding-left: 15px;
		padding-top: 30px;
	}
	
	nav .navigation {
		width: 45%;
	}
	
	nav .logout {
		width: 100%;
	}
	
	
	nav .logout .logout_btn {
		float: right;
		height: 67px;
		width: 67px;
		border-radius: 50%;
		background-color: #E4E4E4;
		border: 1px solid #95989A;
		margin-top: 16px;
		margin-right: 13px;
		font-size: 0.6em;
		font-weight: bold;
		outline: none;
	}
	
	.container {
		width: 100%;
		height: 90px;
		background-color: #5F5F5F;
		text-align: center;
	}
	
	.container .back img {
		width: 8%;
		float: left;
		padding: 20px 30px 15px 15px;
	}
	
	.container .back h2 {
		font-size: 1.4em;
		color: #E4E4E4;
		padding-top: 35px;
	}
	
	
	.header {
		width: 100%;
		height: 65px;
		background-color: #E4E4E4;
		display: inline;
		border-bottom: 2px solid #5F5F5F;
		
	}
	
	
	.header h2 {
		font-weight: bold;
		color: #353535;
		font-size: 1.1em;
		padding-top: 27px;
		padding-left: 15px;
	}
	
	.success {
		height: auto;
		background-color: #E4E4E4;
		padding-bottom: 40px;
		text-align: center;
	}
	
	.tableheaders {
		width: 100%;
	}
	
	.tableheaders tr {
		background-color: #CACACA;
		color: #353535;
		border: none;
		font-weight: bold;
	}
	
	.tableheaders th {
		text-align: left;
		padding-bottom: 15px;
		padding-top: 15px;
		font-size: 1.1em;
	}
	
	.tableheaders .tablehead1 {
		text-align: center;
		width: 33%;
	}
	
	.tableheaders .tablehead2 {
		text-align: center;
		width: 33%;
	}
	
	.tableheaders .tablehead3 {
		text-align: center;
		width: 33%;
	}
	
	.items {
		table-layout: fixed;
		margin-top: 15px;
		text-align: left;
	}
	
	.items tr {
		border-bottom: 1px solid #9D9D9D;
	}
	
	.items .price p {
		font-size: 0.95em;
		color: #353535;
		padding-left: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.items .name p {
		font-size: 0.95em;
		color: #353535;
		padding-left: 22px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.items .quantity p{
		font-size: 0.95em;
		color: #353535;
		padding-left: 45px;
		ppadding-top: 10px;
		padding-bottom: 10px;
		
	}
	
	.sum {
		padding-top: 30px;
	}
	
	.sum p {
		font-size: 1.4em;
	}
	
	.shop_btn {
		background-color: #019390;
		color: white;
		padding: 15px 20px;
		border: none;
		border-radius: 5px; 
		font-size: 1.3em;
		margin-top: 20px;
	}
	
	
	
	
	
	
	
	/* HVIS MAN IKKE ER LOGGET IND */
	
	.fail {
		padding-top: 135px;
		text-align: center;
	}
	
	.fail img {
		width: 95%;
	}
	
	.fail h1 {
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 50px;
		font-size: 1.1em;
		color: #E4E4E4;
		
	}
	
	.login_btn {
		padding-top: 40px;
		text-align: center;
	}
	
	.login_btn button {
		background-color: #019390;
		width: 77%;
		height: 60px;
		border: none;
		border-radius: 5px;
		outline: none;
		color: #fafafa;
		font-size: 1.2em;
	}
	
	
	
}
